@media only screen and (max-width: 1000px) { 
    * {
        text-decoration: none;
        font-weight: 300;
    }

    html {
        background-color: #160A40;
        font-family: 'Orbitron', sans-serif;
        font-weight: 300;
        overflow-x: hidden;
    }

    section {
        color: #7cf7ff;
        font-family: 'orbitron', sans-serif;
    }

    .nav {
        display: none;
        height: fit-content;    
        text-decoration: none;
        background-color: #0c0427;
    }

    .nav.active{
        display: flex;
        flex-direction: column;
        z-index: 700;
        justify-content: center;
        text-decoration: none;
        text-align: center;
        transition: 3s ease-in-out;
        position: relative;
      }


      #links {
        z-index: 900;
        height: 30rem;
        padding: 2rem; 
        top: -1rem;
        left: -1rem;
        border-radius: 5rem; 
        position: absolute;
        width: 89%;
        align-items: center;
        opacity: 100%;
        text-decoration: none;
      } 

.email {
    position: relative;
    transform: scale(-1rem);
    height: 4rem;
}


    .burger{ 
        position: absolute;
        display: flex;
        width: 9rem;
        z-index: 9000;
        height: 4rem; 
        flex-direction: column;
        justify-content: space-evenly;
        right: -5rem;
        transition: all 0.3s ease-in-out;
        top: .6rem;
    }
    .line1 {
        z-index: 500;
        height: .2rem;
        width: 3rem;
        background-color: magenta;
        border-radius: 2rem;
        transition: all 0.3s ease-in-out;
        margin: .1rem 0 ;
    }   
     .line2 {
        z-index: 500;
        height: .2rem;
        width: 3rem;
        background-color: magenta;
        border-radius: 2rem;
        transition: all 0.3s ease-in-out;
        margin: .1rem 0 ;

    }    
    .line3 {        
        z-index: 500;
        height: .2rem;
        width: 3rem;
        background-color: magenta;
        border-radius: 2rem;
        transition: all 0.3s ease-in-out;
        margin: .1rem 0;

    } 
    
    .burger.active .line1 {
        transform: translateY(.3rem) rotate(47deg);
        background-color: lime;
        z-index: 10;
        cursor: pointer;
        width: 3rem;
        border-radius: 2rem;
        transition: 1s cubic-bezier(.68,-0.55,.27,1.55);
        position: sticky;
        margin: -.3rem 0;

      }
      .burger.active .line2 {
        opacity: 0%;
        visibility: hidden;
        display: none;
        z-index: 0;
      }
      
      .burger.active .line3 {
        transform: translateY(-.3rem) rotate(-47deg);
        transition: 1s cubic-bezier(.68,-0.55,.27,1.55);
        cursor: pointer;
        display: flex;
        border-radius: 2rem;
        z-index: 10;
        background-color: lime;
        width: 2.8rem;
        height: 0.2rem;
        position: sticky;
        margin: .1rem 0;

      }

.title {
    font-size: 3rem;
    filter: drop-shadow(13px 4px 22px aqua); 
    width: 12rem;
    text-align: center;
    color: aqua;
    z-index: 5;
    font-weight: 400;
}

.line {
  top: -2rem;
        display: flex;
        position: relative;
    width: 12rem;
    border: .5px solid #7cf7ff;
    border-radius: 2rem;
    filter: drop-shadow(13px 4px 22px #7cf7ff);    

}


#grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "email-call1 emailcall2"
                        "insta instagram"
                        "facebook fb"
                        "phone call";
                        
    max-height: 20rem;
    font-size: 1rem;
    text-align: center;
    left: -1.5rem;
    gap: 2rem;
    margin: auto;
    transform: scale(.8);
}

#email {
     transform: scale(.7);
     margin-top: 1rem;
}

.emailstuff {
    background: radial-gradient(72.1% 151.19% at 51.77% 49.23%, rgba(173, 0, 255, 0.54) 0%, rgba(0, 0, 0, 0.13) 100%);
    box-shadow: 0px 1px 17px -1px rgba(82, 0, 255, 0.68);
    padding: 1rem;
    color: aqua;
    border-radius: 107px;
    height: fit-content;
}
.instastuff {
    background: radial-gradient(72.1% 151.19% at 51.77% 49.23%, rgba(173, 0, 255, 0.54) 0%, rgba(0, 0, 0, 0.13) 100%);
    box-shadow: 0px 1px 17px -1px rgba(82, 0, 255, 0.68);
    border-radius: 107px;
    color: aqua;
    height: fit-content;
    padding: 0 0 3rem 0;
}

.insta {
    transform: scale(.7);
}

.instagram {
    width: 7rem;
    margin: auto;
}

#fb {
    transform: scale(.7);

}

.fb {
    margin: auto;
    width: 8rem;
}

.fbstuff {
    background: radial-gradient(72.1% 151.19% at 51.77% 49.23%, rgba(173, 0, 255, 0.54) 0%, rgba(0, 0, 0, 0.13) 100%);
    box-shadow: 0px 1px 17px -1px rgba(82, 0, 255, 0.68);
    padding: 0 0 3rem 0;
    height: fit-content;
    border-radius: 107px;
    color: aqua;
}

#phone {
    transform: scale(.8);
}

.phonestuff {
    color: aqua;

    background: radial-gradient(72.1% 151.19% at 51.77% 49.23%, rgba(173, 0, 255, 0.54) 0%, rgba(0, 0, 0, 0.13) 100%);
    box-shadow: 0px 1px 17px -1px rgba(82, 0, 255, 0.68);
    height: auto;
    border-radius: 107px; 
    padding: 2rem;
}





.refs {
    position: relative;
    display: flex;
    color: #BA91F2;
    background: rgb(0,13,79);
    background: radial-gradient(circle, rgba(0,13,79,1) 0%, rgba(0,16,97,1) 0%, rgba(22,10,64,1) 56%);
    filter: drop-shadow(0 0 0.75rem magenta);
    border-radius: 1rem;
    width: 90%;
    left: 0;
    height: 5rem;
    text-align: center;
    align-items: center;
    font-weight: 300;
    top: 20rem;
    margin: auto;
    padding: 0 2rem;
}








}

@media only screen and (min-width: 1000px) {
    * {
        font-weight: 300;
    }
    html {
        background-color: #160A40;
        font-family: 'Orbitron', sans-serif;
        font-weight: 300;
    }

    @keyframes transform{
        0% {transform: scale(50%);}
        100% {transform: scale(100%);}
    }

    .abt  {
        padding: 0 2rem;
        color: #05FF00;
        text-decoration: #05FF00;
        }
    
    
     .abt:hover {
        padding: 0 2rem;
        color: #ff00ff;
        text-decoration: underline;
        text-underline-offset: .5rem;
        animation: fadeIn .5s ease-in;
     }
    
     @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
    .serv {
        padding: 0 2rem;
        color: #05FF00;
        text-decoration: none;
    
        }
    .serv:hover {
        padding: 0 2rem;
        color: #ff00ff;
        text-decoration: underline;
        text-underline-offset: .5rem;
        animation: fadeIn .5s ease-in;
    
    }
    
    
    
    .cont {
        padding: 0 3rem;
        color: #05FF00;
        text-decoration: none;
        }
    
    .cont:hover {
        padding: 0 3rem;
        color: #ff00ff;
        text-decoration: underline;
        text-underline-offset: .5rem;
        animation: fadeIn .5s ease-in;
    }
    
    #icons {
        display: flex;
        margin-left: 2rem;
        flex-direction: row;
    }
    
    .email {
        position: relative;
        height: 3.4rem;
        top: 1rem;
    }
    
    @keyframes transform{
        0% {transform: scale(50%);}
        100% {transform: scale(100%);}
    }
    .email:hover {
        display: flex;
        position: relative;
        height: 3.4rem;
        animation: transform .5s;
        top: 1rem;
    
    }
    
    .github{ 
        top: 1rem;
        right: 1rem;
        position: relative;
        display: flex;
        height: 3.5rem;
    }
    
    .github:hover{ 
        top: 1rem;
        position: relative;
        animation: transform .5s;
    }
    
    .linked-in {
        top: 1rem;
        position: relative;
        display: flex;
        right: 3.2rem;
        height: 3.5rem;
    }
    
    .linked-in:hover {
        position: relative;
        animation: transform .5s;
        top: 1rem;
    }
    
    .nav {
        font-family: 'Orbitron', sans-serif;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;
        top: -2rem;
        left: -1rem;
        z-index: 5;
        background-blend-mode: screen;
        background-color: rgba(36, 8, 105, 0.5);
        /* box-shadow: -7px 12px 81px -17px #5200FF; */
        font-weight: 400;
        font-size: .6rem;
        margin: 1.5rem 0;
    }
    
    /* .nav-lines{
        border: 1px solid rgb(5, 255, 0);
        height: 3rem;
        top: 2.5rem;
        display: flex;
        position: relative;
    } */
    
#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "email-call1 emailcall2"
                        "insta instagram"
                        "facebook fb"
                        "phone call";
                        
    width: 50rem;
    font-size: 1rem;
    margin: auto;
    gap: 2rem;
}
    .title {
        display: grid;
        font-size: 3rem;
        filter: drop-shadow(13px 4px 22px aqua); 
        width: 12rem;
        text-align: center;
        z-index: 5;
        font-weight: 400;
        color: aqua;
        margin: 2rem 2rem .2rem 2rem;
    }
    
    .line {
        left: 2rem;
            display: flex;
            position: relative;
        width: 13rem;
        border: .5px solid #7cf7ff;
        border-radius: 2rem;
        margin: 0 0 3rem 0;
        filter: drop-shadow(13px 4px 22px #7cf7ff);    
    }

.email-call1 {
    display: grid;
    grid-area: email-call1;
    position: relative;
    transform: scale(.7);
    margin: 0 5rem;
}
    .insta {
        margin: 0 auto;
        display: grid;
    grid-area: insta;
    transform: scale(.7);
    }
    #fb {
        transform: scale(.8);
        margin: 0 5rem;
    }
.facebook {
    margin: 0 auto;
    position: relative;
    grid-area: facebook;
    left: -1rem;
}

#phone {
    transform: scale(.9);
    margin: 2rem 9rem;
}
.phone {
    position: relative;
    margin: 0 auto;
    grid-area: phone;
    
}

.emailstuff, .fbstuff, .instastuff, .phonestuff  {
    background: radial-gradient(72.1% 151.19% at 51.77% 49.23%, rgba(173, 0, 255, 0.54) 0%, rgba(0, 0, 0, 0.13) 100%);
    box-shadow: 0px 1px 17px -1px rgba(82, 0, 255, 0.68);
    border-radius: 107px;
}
.emailstuff:hover {
    box-shadow: 0px 1px 17px -1px rgba(0, 241, 253, 0.68);
}
.fbstuff:hover {
    box-shadow: 0px 1px 17px -1px rgba(0, 241, 253, 0.68);
}
.instastuff:hover {
    box-shadow: 0px 1px 17px -1px rgba(0, 241, 253, 0.68);
}
.phonestuff:hover {
    box-shadow: 0px 1px 17px -1px rgba(0, 241, 253, 0.68);

}
.email-call2 {

    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    grid-area: emailcall2;
    color: aqua;
}

.fb {
    text-align: center;
    margin: auto;   font-size: 1.6rem;
    padding: 1rem;
    color: aqua;
    grid-area: fb;
}

.instagram {
    text-align: center;
    font-size: 1.6rem;
    padding: 1rem;
    width: 15rem;
    color: aqua;
    margin: auto;
    grid-area: instagram;
}

.call {
    color: aqua;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
    width: 15rem;
    margin: auto;
}



}