@media only screen and (min-width: 1000px) {
    

html {
    font-family: 'Orbitron', sans-serif;
    background-color: #160A40;
    overflow-x: hidden;
}

.nav {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    display: flex;
    position: fixed;
    font-weight: 400;
    color: rgb(197, 153, 238);
    z-index: 2;
    height: 4rem;
    background-color: rgba(214,206,242, .53);
    width: 100rem;
    top: 0rem;
    left: 0rem;
    padding: 0 2rem;
}

.background {
    width: 105rem;
    height: 48rem;
    display: flex;
    position: absolute;
    top: -20rem;
    left: -50rem;
    z-index: 1;
    transform: scale(-.9);
    padding-bottom: 10rem;
}

#lottie {
    z-index: 2;
    display: flex;
    position: relative;
    width: 50rem;
    justify-content: left;
    left: -11rem;
    top: 2rem;
}

.mission {
    filter: drop-shadow(0 0 0.75rem magenta);
    position: relative;
    top: 54rem;
    color: #BA91F2;
    z-index: 1;
    background: rgb(0,13,79);
    background: radial-gradient(circle, rgba(0,13,79,1) 0%, rgba(0,16,97,1) 0%, rgba(22,10,64,1) 56%);
    border-radius: 5rem;
    height: 25rem;
    width: 83rem;
    display: flex;
    flex-flow: column;
    margin: auto;
    padding: 5rem;
    padding-bottom: 10rem;
}



#missionStatementTitle {
    font-size: 3.2rem;
    justify-content: right;
    display: flex;
    position: relative;
    margin: 3rem 5rem;
    top: -31.5rem;
}

#missionStatementText {
    font-size: 1.4rem;
    position: relative;
    justify-content: center;
    display: flex;
    text-align: center;
    top: -34rem;
    padding-bottom: 15rem;
    line-height: 2;
    right: -44rem;
    width: 41rem;
}

/* .about {
    color: #BA91F2;
    z-index: 1;
    font-size: 3rem;
    display: flex;
    position: relative;
    padding: 2rem;
    height: 25rem;
    width: 83rem;
    margin: auto;
    top: 80rem;
    font-weight: lighter;
    filter: drop-shadow(0 0 0.75rem magenta);
    background: rgb(0,13,79);
    background: radial-gradient(circle, rgba(0,13,79,1) 0%, rgba(0,16,97,1) 0%, rgba(22,10,64,1) 56%);
    border-radius: 5rem;
} */

.sent1 {
    color: #BA91F2;
    z-index: 1;
    font-size: 1.5rem;
    display: flex;
    position: relative;
    padding: 4rem;
    height: 14rem;
    width: 49rem;
    margin: auto;
    top: 80rem;
    font-weight: lighter;
    filter: drop-shadow(0 0 0.75rem magenta);
    background: rgb(0,13,79);
    background: radial-gradient(circle, rgba(0,13,79,1) 0%, rgba(0,16,97,1) 0%, rgba(22,10,64,1) 56%);
    border-radius: 5rem;
    right: -18rem;
    line-height: 2.45rem;
}
.sent2 {
    color: #BA91F2;
    z-index: 1;
    font-size: 1.5rem;
    display: flex;
    position: relative;
    padding: 4rem;
    height: 14rem;
    width: 35rem;
    margin: auto;
    top: 94rem;
    font-weight: lighter;
    filter: drop-shadow(0 0 0.75rem magenta);
    background: rgb(0,13,79);
    background: radial-gradient(circle, rgba(0,13,79,1) 0%, rgba(0,16,97,1) 0%, rgba(22,10,64,1) 56%);
    border-radius: 5rem;
    left: -22rem;
    line-height: 2.45rem;
}
.sent3 {
    color: #BA91F2;
    z-index: 1;
    font-size: 1.5rem;
    display: flex;
    position: relative;
    padding: 4rem;
    height: 14rem;
    width: 33rem;
    margin: auto;
    top: 116rem;
    font-weight: lighter;
    filter: drop-shadow(0 0 0.75rem magenta);
    background: rgb(0,13,79);
    background: radial-gradient(circle, rgba(0,13,79,1) 0%, rgba(0,16,97,1) 0%, rgba(22,10,64,1) 56%);
    border-radius: 5rem;
    right: -22rem;
    line-height: 2.45rem;
}
  
.lottie2 {
    width: 17rem;
    position: relative;
    z-index: 1;
    display: flex;
    transform: scale(1.7);
    margin: 3.5rem 5rem;
    top: 19rem;
    left: 2.5rem;
    }

.lottie3 {
    display: flex;
    position: relative;
    top: 34rem;
    transform: scale(1.7);
    z-index: 1;
    left: 95rem;
    margin: auto;
}

.refs {
    height: 5rem;
    background: rgb(0,13,79);
    background: radial-gradient(circle, rgba(0,13,79,1) 0%, rgba(0,16,97,1) 0%, rgba(22,10,64,1) 56%);
    filter: drop-shadow(0 0 0.75rem magenta);
    z-index: 2;
    position: relative;
    display: flex;
    bottom: -96rem;
}

}
@media only screen and (max-width: 800px) {
    html {
        font-family: 'Orbitron', sans-serif;
        background-color: #160A40;
        overflow-x: hidden;
        width: 100%;
    }
    .nav {
        visibility: hidden;
        height: 10rem;
    }
    .background {
        width: 100%;
        height: 20rem;
        display: flex;
        transform: scale(-.99);
        position: absolute;
        left: -56rem;
        z-index: 1;
        margin: 3rem 56rem;
        padding: 30rem 0;
    }

    #lottie {
        display: flex;
        position: relative;
        top: 3rem;
        justify-content: center;
        left: 1rem;
        }

    .mission {
        background: rgb(0,13,79);
        background: radial-gradient(circle, rgba(0,13,79,1) 0%, rgba(0,16,97,1) 0%, rgba(22,10,64,1) 56%);
        filter: drop-shadow(0 0 0.75rem magenta);
        border-radius: 5rem 5rem;
        position: relative;
        display: flex;
        flex-flow: column;
        top: 34rem;
        color: #BA91F2;
        width: 75%;
        margin: 12rem 2.2rem;
        padding: 0 2rem 5rem 0;
        z-index: 1;
        text-align: center;
    }

    #missionStatementTitle {
        font-size: 2.5rem;
        display: flex;
        position:  relative;
        text-align: center;
        top: 2rem;
        font-weight: 600;
        padding-bottom: 1.1rem;
        left: 1rem;
    }
    
    #missionStatementText {
        line-height: 2rem;
        text-align: center;
        margin: auto;
        left: 1rem;
        display: block;
        position: relative;
    }

    /* .about {
        visibility: hidden;
        color: #BA91F2;
        z-index: 1;
        font-size: 1rem;
        display: flex;
        position: relative;
        width: 75%;
        flex-flow: column;
        margin: auto;
        top: 45rem;
        font-weight: lighter;
        background: rgb(0,13,79);
        background: radial-gradient(circle, rgba(0,13,79,1) 0%, rgba(0,16,97,1) 0%, rgba(22,10,64,1) 56%);
        filter: drop-shadow(0 0 0.75rem magenta);
        border-radius: 5rem;
    } */

    .sent1 {
        color: #BA91F2;
        z-index: 1;
        font-size: 1rem;
        display: flex;
        position: relative;
        width: 75%;
        flex-flow: column;
        margin: auto;
        top: 45rem;
        font-weight: lighter;
        background: rgb(0,13,79);
        background: radial-gradient(circle, rgba(0,13,79,1) 0%, rgba(0,16,97,1) 0%, rgba(22,10,64,1) 56%);
        filter: drop-shadow(0 0 0.75rem magenta);
        border-radius: 5rem;
    }

    .sent2 {
        color: #BA91F2;
        z-index: 0;
        font-size: 1rem;
        display: flex;
        position: relative;
        width: 75%;
        flex-flow: column;
        margin: auto;
        top: 45rem;
        font-weight: lighter;
        background: rgb(0,13,79);
        background: radial-gradient(circle, rgba(0,13,79,1) 0%, rgba(0,16,97,1) 0%, rgba(22,10,64,1) 56%);
        filter: drop-shadow(0 0 0.75rem magenta);
        border-radius: 5rem;
    }

    .sent3 {
        color: #BA91F2;
        z-index: 0;
        font-size: 1rem;
        display: flex;
        position: relative;
        width: 75%;
        flex-flow: column;
        margin: auto;
        top: 45rem;
        font-weight: lighter;
        background: rgb(0,13,79);
        background: radial-gradient(circle, rgba(0,13,79,1) 0%, rgba(0,16,97,1) 0%, rgba(22,10,64,1) 56%);
        filter: drop-shadow(0 0 0.75rem magenta);
        border-radius: 5rem;
    }

    .lottie3 {
        visibility: hidden;
        display: none;
    }

    .lottie2 {
        display: flex;
        top: -4rem;
        position: relative;
        justify-content: center;
        margin: 3rem 2rem;
        }

    /* .about>h6 {
        display: flex;
        position: relative;
        justify-content: center;
        font-size: 1rem;
        top: 16rem;
        margin: -5rem 2rem;
        text-align: center;
        } */

    .refs {
        position: absolute;
        top: 169rem;
        display: flex;
        color: #BA91F2;
        background: rgb(0,13,79);
        background: radial-gradient(circle, rgba(0,13,79,1) 0%, rgba(0,16,97,1) 0%, rgba(22,10,64,1) 56%);
        filter: drop-shadow(0 0 0.75rem magenta);
        border-radius: 1rem;
        width: 100%;
        left: 0;
        text-align: center;
    }

}