@media only screen and (min-width: 1000px) {
    

html {
    font-family: 'Orbitron', sans-serif;
    background-color: #160A40;
    overflow-x: hidden;
}

.nav {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    display: flex;
    font-weight: 400;
    color: rgb(197, 153, 238);
    z-index: 2;
    position: absolute;
    right: 5rem;
    height: 4rem;
    background-color: rgba(214,206,242, .53);
    border-radius: 5rem 5rem;
    right: 4rem;
    width: 11rem;
    top: 1rem;
}

.background {
    width: 105rem;
    height: 48rem;
    display: flex;
    position: absolute;
    top: -.8rem;
    left: -2.8rem;
    z-index: 1;
}

.about {
    position: relative;
    top: 60rem;
    color: #BA91F2;
    height: 50rem;
}

#missionStatementTitle {
    font-size: 4rem;
    justify-content: center;
    display: flex;
    position: relative;
    margin: 5rem 9.5rem;


}

#missionStatement {
    font-size: 2rem;
    position: relative;
    justify-content: end;
    display: flex;
    text-align: center;
    width: 80rem;
    margin: 5rem 9.5rem;
}
}
@media only screen and (max-width: 1000px) {
    html {
        font-family: 'Orbitron', sans-serif;
        background-color: #160A40;
        overflow-x: none;
    }
    .nav {
        visibility: hidden;
    }
    .background {
        top: 10rem;
        transform: scale(1.45);
        margin: 0 .5rem;
        width: 20rem;
        height: 10rem;
        display: flex;
        position: absolute;
        z-index: 1;
    }

    .about {
        position: relative;
        display: flex;
        top: 55rem;
        color: #BA91F2;
        width: 35rem;
        
    }

    #missionStatementTitle {
        font-size: 3rem;
        display: flex;
        position:  relative;
        margin: 0 2rem;    
        text-align: center;
    }
    
    #missionStatement {
        font-weight: 500;
        font-size: 1.2rem;
        display: flex;
        position: relative;
        text-align: center;
        top: 8rem;
        right: 17rem;
       margin: 2rem -4rem;
        padding-bottom: 4rem;
    }
}