html {
    font-family: 'Orbitron', sans-serif;
    background-color: #160A40;
    
}

.nav {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    display: flex;
    font-weight: 400;
    color: rgb(197, 153, 238);
    z-index: 2;
    position: absolute;
    right: 5rem;
    height: 4rem;
    background-color: rgba(214,206,242, .53);
    border-radius: 5rem 5rem;
    right: 4rem;
    width: 11rem;
}

.background {
    width: 105rem;
    height: 50rem;
    display: flex;
    position: absolute;
    top: -1rem;
    left: -1rem;
    z-index: 1;
}

.about {
    position: relative;
    display: block;
    top: 60rem;
    color: #BA91F2;
}

@media screen (min-width: 600px) {
    html {
        font-family: 'Orbitron', sans-serif;
        background-color: #160A40;
        width: 50rem;
    }

    .background {
        width: 20rem;
        height: 10rem;
        display: flex;
        position: absolute;
        top: -1rem;
        left: -1rem;
        z-index: 1;
    }

    .about {
        position: relative;
        display: block;
        top: 60rem;
        color: #BA91F2;
    }
}